<div class="container">
<div class="row">
  <div class="col-md-4 col-md-offset-4">
    <div class="login-panel panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">Please Sign In</h3>
      </div>
      <div class="panel-body">
        <fieldset>
          <a href="/auth/twitter" class="btn btn-lg btn-success btn-block"><i class="fa fa-twitter fa-fw"></i> Twitterのアカウントでログインする</a><br>
          <a href="/auth/github" class="btn btn-lg btn-success btn-block"><i class="fa fa-github fa-fw"></i> Githubのアカウントでログインする</a><br>
          <a href="/auth/google" class="btn btn-lg btn-success btn-block"><i class="fa fa-google-plus fa-fw"></i> Googleのアカウントでログインする</a><br>
        </fieldset>
      </div>
    </div>
  </div>
</div>
