<div style="background-image:url(<%= image_path('specialty-page/banner.jpg') %>);" class="specialty-page-bg"></div>
<section class="specialty-page">
	<div class="container">
    <div class="row">
      <div class="col-md-12 col-sm-12 social-sugnup">
        <div class="page-heading">
          <h2>Login</h2>
          <p>以下のサービスのアカウントでログイン出来ます</p>
        </div>
        <% unless Rails.env.production? %>
          <a class="google" href="/auth/developer">Develop</a>
        <% end %>
        <a class="google" href="/auth/google_oauth2">Google</a>
        <a class="twitter" href="/auth/twitter">Twitter</a>
       	<a class="facebook" href="/auth/facebook">Facebook</a>
     </div>
   </div>
   <p class="helper-text">By signing up, you agree to the <a class="helper-text" href="#">Privacy Policy &amp; Terms of Service</a></p>
 </div>
</section>


