language: ruby
sudo: false
rvm:
  - 2.3.1
env:
  - DB=postgresql
bundler_args: "--without production"
cache: bundler
script:
  - RAILS_ENV=test bundle exec rake db:migrate
  - xvfb-run bundle exec rake test
before_script:
  - export TZ=Asia/Tokyo
  - cp config/database.yml.travis config/database.yml
  - psql -c 'create database database_test' -U postgres
  - bundle update
cache: bundler
services:
  - elasticsearch
