section.page-block.space-top.space-bottom
  .container
    .page-heading.center

    .row.gray-bg
      .col-sm-8.col-sm-offset-2
        h3.heading.center
          | 写真サービス 連携設定
          span
        = render 'form'
