<section class="page-block space-top space-bottom">
  <div class="container">
    <div class="page-heading center">
    </div>

		<div class="row gray-bg">
      <div class="col-sm-8 col-sm-offset-2">
        <h3 class="heading center">写真サービス 連携設定<span></span></h3>
        <%= render 'form' %>
      </div>
    </div>
  </div>
</section>

