<section class="page-block space-top space-bottom">
  <div class="container">
    <div class="page-heading center">
      <h2>写真データ紐付け</h2>
    </div>

		<div class="row">
    	<div class="col-sm-8 col-sm-offset-2">
        <%= render 'form' %>
      </div>
    </div>
  </div>
</section>

