<div style="background-image:url(<%= image_path('specialty-page/banner.jpg') %>);" class="specialty-page-bg"></div>
<section class="specialty-page">
	<div class="container">
    <div class="error-numb"><span>4</span>0<span>4</span></div>
    <h3 class="light-weight">The page you're looking for can't be found</h3>
    <a class="btn btn-primary btn-center" href="<%= root_path %>">Go to home page</a>
  </div>
</section>

