<div style="background-image:url(<%= image_path('specialty-page/banner.jpg') %>);" class="specialty-page-bg"></div>
<section class="specialty-page">
	<div class="container">
    <div class="error-numb"><span>4</span>22</div>
    <h3 class="light-weight">Something has gone seriously wrong</h3>
    <p>We're experiencing an internal server problem.<br />Please try back later.</p>
  </div>
</section>
