section.info-box.primary
  .container
footer.footer
  .copyright
    .container
      | #{link_to '利用規約', terms_path} / #{link_to 'プライバシーポリシー', privacy_path}
      br
      | Created By #{link_to '@y_yagi', 'https://twitter.com/y_yagi'}
= render 'google_analytics'
