<div class="panel static panel-danger">
  <div class="panel-heading"><h4 class="panel-title">入力内容にエラーがあります</h4></div>
  <div class="panel-body">
    <ul>
      <% error_messages.each do |message| %>
        <li class="text-danger"><%= message %></li>
      <% end %>
    </ul>
  </div>
</div>
