aside.left-off-canvas-menu
  .mobile-navi
    = form_tag(search_path, method: :get, autocomplete: 'off', class: 'mobile-search')
      label.sr-only[for="m-search"]
      = text_field_tag(:search, params[:search], placeholder: "Search", class: 'm-search form-control input-lg')
      button[type="submit"]
        i.icon.icon-search
    ul
      li class="#{'current' if current_menu?('places')}"
        = link_to '行きたい場所', places_path
        span
        ul.submenu
          li
            = link_to '新規登録', new_place_path
          li
            = link_to '一覧', places_path
      li class="#{'current' if current_menu?('travels')}"
        = link_to '旅行計画', travels_path
        span
        ul.submenu
          li
            = link_to '新規作成', new_travel_path
          li
            = link_to '一覧', travels_path
            span
            - if @travels.present?
              ul.sub-submenu
                - @travels.each do |travel|
                  li
                   = link_to travel.name, travel_path(travel)
      li class="#{'current' if current_menu?('events')}"
        = link_to 'イベント管理', events_path
        span
        ul.submenu
          li
            = link_to '新規登録', new_event_path
          li
            = link_to '一覧', events_path
      li
        = link_to 'その他', '#'
        span
        ul.submenu
          li
            = link_to 'ユーザ設定', edit_user_path(current_user)
          li
            = link_to 'ログアウト', logout_path
