<div class="navbar-default sidebar" role="navigation">
  <div class="sidebar-nav navbar-collapse">
    <ul class="nav" id="side-menu">
      <li class="sidebar-search">
        <div class="input-group custom-search-form">
          <input type="text" class="form-control" placeholder="Search...">
          <span class="input-group-btn">
            <button class="btn btn-default" type="button">
              <i class="fa fa-search"></i>
            </button>
          </span>
        </div>
      </li>
      <li>
        <a href="#"><i class="fa fa-map-marker fa-fw"></i> 場所<span class="fa arrow"></span></a>
        <ul class="nav nav-second-level place">
          <li>
            <%= link_to '一覧', places_path %>
          </li>
          <li>
            <%= link_to '登録', new_place_path %>
          </li>
        </ul>
      </li>
      <li>
        <a href="#"><i class="fa fa-calendar fa-fw"></i> 旅行<span class="fa arrow"></span></a>
        <ul class="nav nav-second-level collapse" aria-expanded="false" style="height: 0px;">
          <li>
            <%= link_to '登録', new_travel_path %>
          </li>
          <li>
          <li class="active">
            <a href="#">旅行一覧<span class="fa arrow"></span></a>
            <ul class="nav nav-third-level collapse in" aria-expanded="true" style="">
              <% @travels.each do |travel| %>
                <li>
                  <%= link_to travel.name, travel_path(travel) %>
                </li>
              <% end %>
            </ul>
          </li>
        </ul>
      </li>
    </ul>
  </div>
</div>
