javascript:
  var OneSignal = OneSignal || [];
  OneSignal.push(["init", {
    appId: "ba83aff9-8aa2-456b-9956-78ca3ff95e3f",
    autoRegister: false,
    notifyButton: {
      enable: true
    }
  }]);
