<div class="row">
  <div class="col-lg-12">
    <h1 class="page-header">場所登録</h1>
   </div>
</div>

<div class="row">
  <div class="col-lg-12">
    <div class="panel panel-default">
      <div class="panel-heading"></div>
      <div class="panel-body">
        <ul class="nav nav-tabs">
          <li class="active"><a href="#search" data-toggle="tab" aria-expanded="false">住所を検索して登録する</a></li>
          <li class=""><a href="#form" data-toggle="tab" aria-expanded="true">名称・住所を登録する</a></li>
        </ul>

        <div class="tab-content">
          <div class="tab-pane active" id="search">
            <hr>
            <%= render 'search' %>
          </div>
          <div class="tab-pane fade" id="form">
            <hr>
            <%= render 'form' %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
