<section class="page-block space-top space-bottom">
  <div class="container">
    <div class="page-heading center">
      <h3>登録</h3>
    </div>
		<div class="row">
    	<div class="col-sm-8 col-sm-offset-2">
        <ul class="nav nav-tabs">
          <li class="active"><a href="#search" data-toggle="tab" aria-expanded="false">名称を検索して登録する</a></li>
          <li class=""><a href="#form" data-toggle="tab" aria-expanded="true">名称・住所を登録する</a></li>
        </ul>
        <div class="tab-content">
          <div class="tab-pane active" id="search">
            <hr>
            <%= render 'search' %>
          </div>
          <div class="tab-pane fade" id="form">
            <hr>
            <%= render 'form' %>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
