<!DOCTYPE html>
<html>
  <head>
    <title>TravelBase</title>
    <%= include_gon %>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <style>
      html, body, #map-canvas {
        height: 100%;
      }
    </style>
    <script src="//maps.googleapis.com/maps/api/js?v=3.exp&sensor=false"></script>
    <%= javascript_include_tag 'pages/map' %>
  </head>
  <body>
    <%= yield %>
  </body>
</html>
